<template>
  <v-app id="keep">
    <v-app-bar
            app
            clipped-left
            v-bind:style= "[isDarkMode ? {'background-color':'#1e1e1e'} : {'background-color':'#ffc107'}]"
    >
      <v-app-bar-nav-icon @click="drawer = !drawer">
        <v-icon>menu</v-icon>
      </v-app-bar-nav-icon>
      <span class="title ml-3 mr-5">{{ title }}</span>
      <!-- <v-text-field
        solo-inverted
        flat
        hide-details
        label="Search"
        prepend-inner-icon="search"
      ></v-text-field> -->
      <div class="flex-grow-1"></div>
      <v-btn @click="isDarkMode = !isDarkMode" icon>
        <v-icon class="primaryText--text" v-if="!isDarkMode" > brightness_5 </v-icon>
        <v-icon class="primaryText--text" v-else > brightness_3 </v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer
            v-model="drawer"
            app
            clipped
    >
      <v-list
              dense
      >
        <template v-for="(item, i) in items">
          <v-row
                  v-if="item.heading"
                  :key="i"
                  align="center"
          >
            <v-col cols="6">
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-col>
            <v-col
                    cols="6"
                    class="text-right"
            >
              <v-btn
                      small
                      text
              >edit</v-btn>
            </v-col>
          </v-row>
          <v-divider
                  v-else-if="item.divider"
                  :key="i"
                  dark
                  class="my-4"
          />
          <v-list-item
                  v-else
                  :key="i"
                  @click=""
                  :href="item.href"
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="grey--text">
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>

    </v-navigation-drawer>

    <main>
      <v-content>
        <v-container fluid style="padding:0;">
          <v-layout column>
            <v-fade-transition mode="out-in">
              <router-view @alert="alert"/>
            </v-fade-transition>
          </v-layout>
        </v-container>
      </v-content>
    </main>

    <v-footer :fixed="fixed" app>
      <span> Template created by <a class="lightText--text" href="http://github.com/aturingmachine">Vincent Blom</a></span>
    </v-footer>

    <v-snackbar
            top
            :value="alertOpen"
            :color="alertSuccess ? 'success' : 'error'"
    >
      {{ alertString }}
    </v-snackbar>
  </v-app>
</template>

<script>
export default {
  data: () => {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      items: [
        {
          icon: "home",
          title: "Home",
          href: "/#/home",
          router: true
        },
        {
          icon: "account_circle",
          title: "Users",
          href: "/#/users",
          router: true
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "MEVN Stack Client",
      alertOpen: false,
      alertString: '',
      alertSuccess: false,
      isDarkMode: true,
    };
  },

  watch: {
    isDarkMode() {
      this.$vuetify.theme.dark = this.isDarkMode;
    }
  },

  methods: {
    alert(success, callName, resource) {
      this.alertOpen = false;
      this.alertString = callName + ' ' + resource;
      if (success) {
        this.alertSuccess = true;
        this.alertString += ' was successful.';
      } else {
        this.alertSuccess = false;
        this.alertString += ' has failed.';
      }
      this.alertOpen = true;
    },

    getNavClass(href) {
      if (this.$route.fullPath === href.substring(2)) {
        return 'secondary primaryText--text'
      } else {
        return 'primary primaryText--text'
      }
    }
  }

  
};
</script>
